body {
    padding-top: 5rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    /* text-align: center; */
}

.text-center {
    text-align: center;
}

.div-add-menu {
    padding: 20px 0 20px 0;
}

.div-grocerymenu-form {
    width: 300px;
}

.center-component {
    margin: 0 auto;
}